/* CSS files add styling rules to your content */


h2 {
  font-style: bold;
  font-family: futura;
  color: black;
}

body {
  background-color: #e2e3a8;
}


* {
  box-sizing: border-box;
}

.box {
  float: left;
  height: 70px;
  padding: 50px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.box {
  background-color: #e2e3a8;
  font-family: futura;
  color: black;
}

.box {
  background-color: #e2e3a8;
  font-family: futura;
  color: black;
}

.box {
  background-color: #e2e3a8;
  font-family: futura;
  color: black;
}
.box {
  background-color: #e2e3a8;
  font-family: futura;
  color: black;
}

.fourcol{
  width: 25%;
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .fourcol, .twocol, .onecol {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

p {
  font-family: futura;
}

h1 {
  font-family: futura;
}